@model Exer3.Models.RapportIncident

@{
    ViewData["Title"] = "Rapport d'incident";
}

<h2>Rapport d'incident</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Laboratoire/EnvoyeMessage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Prenom" class="form-control" placeholder="Prénom" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Nom" class="form-control" placeholder="Nom" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Identifiant" class="form-control" placeholder="Identifiant" />
                <span asp-validation-for="Identifiant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Courriel" class="form-control" placeholder="Courriel" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Type de problème</h4>
                    @Html.RadioButtonFor(s => s.Probleme, TypeProblème.MessageErreur)@Html.Label("Message d'erreur")<br />
                    @Html.RadioButtonFor(s => s.Probleme, TypeProblème.ProblemeConnexion)@Html.Label("Problème de connexion")<br />
                    @Html.RadioButtonFor(s => s.Probleme, TypeProblème.OubliMotDePasse)@Html.Label("Oubli du mot de passe")<br />
                    @Html.RadioButtonFor(s => s.Probleme, TypeProblème.Autre)@Html.Label("Autre")<br />
                    <span asp-validation-for="Probleme" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.PlateformeErreur, new SelectList(Enum.GetValues(typeof(Plateforme))),
                      "Plateforme causant l’erreur", new { @class = "form-control" })
                <span asp-validation-for="PlateformeErreur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="DescriptionComportement" class="form-control" 
                    placeholder="Description du comportement" rows="20" cols="10"></textarea>
                <span asp-validation-for="DescriptionComportement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Soumettre" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>
